.main{
    height: 100vh;
    background-color: white;
}

.box{
    padding-left: 20px;
    padding-top: 20px;
}

table{
    border-collapse: collapse;
}
th{
    font-size: 22px;
}

 th,td {
     border: 1px solid black;}

     td{
        padding-left: 10px;
     }